<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ABC" value="123" />
  </appSettings>
  <connectionStrings>
    <add name="db" connectionString="http://localhost:8443" />
  </connectionStrings>
</configuration>